#tabs-header-parent {
  width: 100% !important;
  padding-left: 32px;
  margin-top: 52px;
  font-size: 20px;
  height: fit-content;
}

#tabs-header {
  border-bottom: 2px solid black;
  padding: 16px
}

.tab {
  padding: 0px !important;
  border: none !important;
  background: none !important;
}

.tab.tab--selected {
  font-weight: 600;
  border: none;
}

input, select {
  border-radius: 12px;
}

input:focus, select:focus {
  box-shadow: none !important;
}

.btn.btn-primary {
  background-color: #444 !important;
  border: none;
}

#download-upload-menu > .btn {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 0;
  padding-top: 0px;
  padding-bottom: 2px;
  color: #c3ccd5;
  border-color: #a8aeb3;
}

[id*=run-dropdown] {
  min-width: 400px;
}

button:focus {
  box-shadow: none !important;
}

p {
  margin-bottom: 4px;
}