[submodule "dependencies/swim"]
	path = dependencies/swim
	url = https://gitlab.pik-potsdam.de/swim/swim.git
	branch = develop
[submodule "dependencies/modelmanager"]
	path = dependencies/modelmanager
	url = https://github.com/mwort/modelmanager.git
	branch = master
[submodule "dependencies/m.swim"]
	path = dependencies/m.swim
	url = https://github.com/mwort/m.swim.git
	branch = master
